@import url('https://fonts.googleapis.com/css?family=Open+Sans');


*{
  margin: 0 auto;
  padding: 0 auto;
}

.header{
  height: 40vh;
  background-image:  url('./img/header.jpg');
  background-position: center center;
  background-size: cover;
  text-align: center;
}
